.sticky {
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

.logo {
  padding: 0px 5px;
  font-size: 20px;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  min-height: 100%;
  background-color: #fff;
}