<div>
  <a mat-raised-button color="accent" class="mt" (click)="setShow()">
    <!-- <a mat-raised-button color="accent" class="mt"> -->
    {{!showAdd ? "Add Doctor": "Hide"}}
  </a>

  <div *ngIf="showAdd">
    <app-create (createdDoctorHome)="addDoctor($event)"></app-create>
  </div>

  <div fxLayoutAlign="center center" class="mt">
    <h1><strong>List Of Doctors</strong> </h1>

  </div>
  <!-- <app-show-list [dataSource]="patients" (idDelete)="deletePatient($event)"></app-show-list> -->
  <!-- <ng-container *ngIf="doctors!==undefined"> -->
    <app-show-list [dataInput]="doctors" (idDelete)="deleteDoctor($event)"></app-show-list>

  <!-- </ng-container> -->

</div>
