<div>
  <!-- <button mat-raised-button color="accent" class="mt" href="/create">Add Pacient</button> -->
  <a  mat-raised-button color="accent" class="mt" (click)="setShow()">
    {{!showAdd ? "Add Patient": "Hide"}}
  </a>

  <div *ngIf="showAdd">
    <app-create (createdPatient)="addPatient($event)"></app-create>
  </div>

  <div fxLayoutAlign="center center" class="mt">
    <h1 ><strong>List Of Patients</strong> </h1>

  </div>
  <app-show-list [dataSource]="patients" (idDelete)="deletePatient($event)"></app-show-list>
</div>
