<div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="box" fxLayoutAlign="center center">
    <div fxFlex="30">
      <img src="assets\Images\vet-img.png" alt="" class="img">
    </div>
    <div fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
      <h1 class="mat-h1">Welcome to the best Veterinary!</h1>
      <h3 class="subheading-2 text-center">
        We realize that selecting a veterinarian may be difficult since you consider your pet to be a member of your
        family and want the best for them, therefore ensuring your pet's good health by taking them to a veterinarian
        is
        one of the best things you can do for them. You may not know how essential frequent checkups are for your
        pet's
        health; such checks may assist veterinarians in detecting indications of disease, and when detected early,
        something can be done.
      </h3>
      <button mat-raised-button color="accent">Schedule an appointment for your pet</button>
    </div>
  </div>

</div>
